In [76]:
import pandas as pd
import numpy as np
import seaborn as sns

dataset = pd.read_csv('LifeExpectancyData.csv')

dataset.head()

,country,year,status,life_expectancy,adult_mortality,infant_deaths,alcohol_consumption,percentage_expenditure,hepatitis_b,measles,...,polio,total_expenditure,diphtheria,incidents_hiv,gdp_per_capita,population,thinness_10_19_years,thinness_5_9_years,income_composition_of_resources,schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [71]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country                          2938 non-null   object
 1   year                             2938 non-null   int64
 2   status                           2938 non-null   object
 3   life_expectancy                  2928 non-null   float64
 4   adult_mortality                  2928 non-null   float64
 5   infant_deaths                    2938 non-null   int64
 6   alcohol_consumption              2744 non-null   float64
 7   percentage_expenditure           2938 non-null   float64
 8   hepatitis_b                      2385 non-null   float64
 9   measles                          2938 non-null   int64
 10  bmi                              2904 non-null   float64
 11  under_five_deaths                2938 non-null   int64
 12  polio                            2919 non-null   float64
 13  total_expenditure                2712 non-null   float64
 14  diphtheria                       2919 non-null   float64
 15  incidents_hiv                    2938 non-null   float64
 16  gdp_per_capita                   2490 non-null   float64
 17  population                       2286 non-null   float64
 18  thinness_10_19_years             2904 non-null   float64
 19  thinness_5_9_years               2904 non-null   float64
 20  income_composition_of_resources  2771 non-null   float64
 21  schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [72]:
dataset.isnull().sum()

country                              0
year                                 0
status                               0
life_expectancy                     10
adult_mortality                     10
infant_deaths                        0
alcohol_consumption                194
percentage_expenditure               0
hepatitis_b                        553
measles                              0
bmi                                 34
under_five_deaths                    0
polio                               19
total_expenditure                  226
diphtheria                          19
incidents_hiv                        0
gdp_per_capita                     448
population                         652
thinness_10_19_years                34
thinness_5_9_years                  34
income_composition_of_resources    167
schooling                          163
dtype: int64

Existem 10 linhas que nÃ£o possuem o valor da expectativa de vida

In [75]:
## mostrar linhas com life expentacy nulo
null_life_expectancy = dataset[dataset['life_expectancy'].isnull()]
null_life_expectancy

,country,year,status,life_expectancy,adult_mortality,infant_deaths,alcohol_consumption,percentage_expenditure,hepatitis_b,measles,...,polio,total_expenditure,diphtheria,incidents_hiv,gdp_per_capita,population,thinness_10_19_years,thinness_5_9_years,income_composition_of_resources,schooling
624,Cook Islands,2013,Developing,NaN,NaN,0,0.01,0.000000,98.0,0,...,98.0,3.58,98.0,0.1,NaN,NaN,0.1,0.1,NaN,NaN
769,Dominica,2013,Developing,NaN,NaN,0,0.01,11.419555,96.0,0,...,96.0,5.58,96.0,0.1,722.756650,NaN,2.7,2.6,0.721,12.7
1650,Marshall Islands,2013,Developing,NaN,NaN,0,0.01,871.878317,8.0,0,...,79.0,17.24,79.0,0.1,3617.752354,NaN,0.1,0.1,NaN,0.0
1715,Monaco,2013,Developing,NaN,NaN,0,0.01,0.000000,99.0,0,...,99.0,4.30,99.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN
1812,Nauru,2013,Developing,NaN,NaN,0,0.01,15.606596,87.0,0,...,87.0,4.65,87.0,0.1,136.183210,NaN,0.1,0.1,NaN,9.6
1909,Niue,2013,Developing,NaN,NaN,0,0.01,0.000000,99.0,0,...,99.0,7.20,99.0,0.1,NaN,NaN,0.1,0.1,NaN,NaN
1958,Palau,2013,Developing,NaN,NaN,0,NaN,344.690631,99.0,0,...,99.0,9.27,99.0,0.1,1932.122370,292.0,0.1,0.1,0.779,14.2
2167,Saint Kitts and Nevis,2013,Developing,NaN,NaN,0,8.54,0.000000,97.0,0,...,96.0,6.14,96.0,0.1,NaN,NaN,3.7,3.6,0.749,13.4
2216,San Marino,2013,Developing,NaN,NaN,0,0.01,0.000000,69.0,0,...,69.0,6.50,69.0,0.1,NaN,NaN,NaN,NaN,NaN,15.1
2713,Tuvalu,2013,Developing,NaN,NaN,0,0.01,78.281203,9.0,0,...,9.0,16.61,9.0,0.1,3542.135890,1819.0,0.2,0.1,NaN,0.0

Analisando melhor, esses paÃ­ses que nÃ£o possuem valor de expectativa de vida contÃ©m registros de apenas 1 ano, e por serem poucos, decidimos retirÃ¡-los da base de dados

In [80]:
# remover as linhas que tem life expectancy NaN
dataset = dataset.dropna(subset=['life_expectancy'])
print(dataset[dataset['life_expectancy'].isnull()])

Empty DataFrame
Columns: [country, year, status, life_expectancy, adult_mortality, infant_deaths, alcohol_consumption, percentage_expenditure, hepatitis_b, measles, bmi, under_five_deaths, polio, total_expenditure, diphtheria, incidents_hiv, gdp_per_capita, population, thinness_10_19_years, thinness_5_9_years, income_composition_of_resources, schooling]
Index: []

[0 rows x 22 columns]

In [81]:
dataset['status'].unique()

##trocas developing e developed por true e false
dataset['status'] = dataset['status'].replace('Developing', True)
dataset['status'] = dataset['status'].replace('Developed', False)
dataset.rename(columns={'status':'developed'}, inplace=True)

dataset['developed'].unique()

array([ True, False])

In [82]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2928 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country                          2928 non-null   object
 1   year                             2928 non-null   int64
 2   developed                        2928 non-null   bool
 3   life_expectancy                  2928 non-null   float64
 4   adult_mortality                  2928 non-null   float64
 5   infant_deaths                    2928 non-null   int64
 6   alcohol_consumption              2735 non-null   float64
 7   percentage_expenditure           2928 non-null   float64
 8   hepatitis_b                      2375 non-null   float64
 9   measles                          2928 non-null   int64
 10  bmi                              2896 non-null   float64
 11  under_five_deaths                2928 non-null   int64
 12  polio                            2909 non-null   float64
 13  total_expenditure                2702 non-null   float64
 14  diphtheria                       2909 non-null   float64
 15  incidents_hiv                    2928 non-null   float64
 16  gdp_per_capita                   2485 non-null   float64
 17  population                       2284 non-null   float64
 18  thinness_10_19_years             2896 non-null   float64
 19  thinness_5_9_years               2896 non-null   float64
 20  income_composition_of_resources  2768 non-null   float64
 21  schooling                        2768 non-null   float64
dtypes: bool(1), float64(16), int64(4), object(1)
memory usage: 506.1+ KB